*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow:hidden;
    background:#000;
    font-family:Arial, sans-serif;
}

canvas{
    display:block;
}

#loading{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    font-size:30px;
    font-weight:bold;
    z-index:100;
    animation:blink 1s infinite;
}

@keyframes blink{
    50%{
        opacity:0.3;
    }
}

#hud{
    position:absolute;
    top:15px;
    left:15px;
    color:white;
    z-index:10;
    background:rgba(0,0,0,0.5);
    padding:10px;
    border-radius:10px;
}

#hud h2{
    color:lime;
    margin-bottom:5px;
}
